<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     <h1> <a class="navbar-brand" routerLink="">Dreams</a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</div>
<div class="col-lg-2 mt-3 mb-3 ms-auto">
    <!-- <img src="assets/cart-icon.svg" class="controller"> -->

    <a href="#" target="_blank"><i class="bi bi-cart-check-fill"></i></a>

</div>
</nav>