<div class="row">
    <div class="col-1">
        <h1>Spice your<br>Moods</h1>&nbsp;
        <h3>Spicy Vegitable Soup</h3>&nbsp;
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni iste veniam fugiat suscipit
            accusantium
            beatae facilis soluta, consequuntur ad accusamus tempore quam repellat iusto ipsam est praesentium ullam
            harum.</p>


        <div class="row">
            <div class="col"><button type="active">View Menu</button></div>
            <div class="col-5"><button type="button">Book a Table</button></div>
        </div>

        <div class="row">
            <div class="col">
                <h4><b>Breakfast</b><br> 9.00 am - 11.00 am</h4>
            </div>
            <div class="col"><img src="assets/arrow.svg" class="container-fluid"></div>
        </div>

    </div>

    <div class="col-2">

        <img src="assets/image1.jpg"  class="controller">
    </div>
</div>